@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="/">На главную страницу</a>.</p>
        <p><a href="/canonical">На внутреннюю страницу</a>.</p>
    </div>
