@page
@model FrontendSamples.Pages.canonical.IndexModel
@{
    ViewData["Title"] = "Canonical";
}

<div class="text-center">
    <h1 class="display-4">Canonical</h1>
    <p><a href="/">На главную страницу</a>.</p>
</div>